<configuration debug="false">
    <appender name="accessJsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.access.common.net.URLEvaluator">
                <URL>/prometheus</URL>
                <URL>/actuator</URL>
                <URL>/swagger-ui</URL>
                <URL>/api-docs</URL>
                <URL>/api-guide.html</URL>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
        <encoder class="net.logstash.logback.encoder.LogstashAccessEncoder">
            <fieldNames>
                <messagePattern>%requestURL - %statusCode - %i{User-Agent}</messagePattern>
                <requestHeaders>request_headers</requestHeaders>
                <responseHeaders>response_headers</responseHeaders>
            </fieldNames>
            <pattern>
                <pattern>
                    {
                    "context": "klass-api",
                    "logger_name": "tomcat.access",
                    "level": "INFO"
                    }
                </pattern>
            </pattern>
        </encoder>
    </appender>
    <appender-ref ref="accessJsonConsoleAppender"/>
</configuration>
