services:
  postgresql:
    image: postgres:17.4
    profiles:
      [
        frontend,
        api,
        solr-search,
        open-search,
      ]
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: "klass"
      POSTGRES_DB: "klass"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U klass -d klass" ]
      interval: 10s
      timeout: 5s
      retries: 5
  klass-api:
    build:
      context: ../klass-api
      dockerfile: ../klass-api/Dockerfile
    command: [ "java", "-Xms1g", "-jar", "app.war" ]
    profiles: [ api ]
    depends_on:
      - postgresql
    ports:
      - "8080:8080"
    mem_limit: 4g
    cpus: 1.0
    environment:
      SPRING_PROFILES_ACTIVE: api, postgres-local, skip-indexing, mock-search
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: "klass"
      POSTGRES_INSTANCE: postgresql
  klass-api-open-search:
    build:
      context: ../klass-api
      dockerfile: ../klass-api/Dockerfile
    command: [ "java", "-Xms2g", "-Xmx4g", "-jar", "app.war" ]
    profiles: [ open-search ]
    depends_on:
      opensearch:
        condition: service_healthy
      postgresql:
        condition: service_started
    ports:
      - "8080:8080"
    mem_limit: 8g
    cpus: 1.0
    environment:
      SPRING_PROFILES_ACTIVE: "api,postgres-local,skip-indexing,open-search-local"
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: "klass"
      POSTGRES_INSTANCE: postgresql
      OPENSEARCH_URL: http://opensearch:9200
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 90s
      start_interval: 5s
  index:
    build:
      context: ../klass-index-job
      dockerfile: ../klass-index-job/Dockerfile
    command: [ "java", "-Xms1g", "-Xmx1g", "-jar", "app.war" ]
    profiles: [ index ]
    depends_on:
      opensearch:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: "postgres-local,open-search-local"
      POSTGRES_INSTANCE: host.docker.internal
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: "klass"
      OPENSEARCH_URL: http://opensearch:9200
  klass-forvaltning:
    build:
      context: ../klass-forvaltning
      dockerfile: ../klass-forvaltning/Dockerfile
    profiles: [ frontend ]
    ports:
      - "8081:8081"
    depends_on:
      postgresql:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 3G
    environment:
      SPRING_PROFILES_ACTIVE: frontend, hardcoded-user, postgres-local, ad-offline, small-import, skip-indexing, embedded-solr
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgresql:5432/klass
      SPRING_DATASOURCE_USERNAME: klass
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      KLASS_ENV_CLIENT_KLASS_MAIL_URL: "http://klass-mail:8080"
  klass-forvaltning-search:
    build:
      context: ../klass-forvaltning
      dockerfile: ../klass-forvaltning/Dockerfile
    profiles: [ solr-search ]
    ports:
      - "8081:8081"
    depends_on:
      - postgresql
    command:
      [ "java", "-XshowSettings:vm", "-Xms512m", "-Xmx2g", "-jar", "app.war" ]
    deploy:
      resources:
        limits:
          memory: 3G
    environment:
      SPRING_PROFILES_ACTIVE: frontend, hardcoded-user, postgres-local, ad-offline, small-import, remote-solr, skip-indexing
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: klass
      POSTGRES_INSTANCE: postgresql
      SPRING_DATA_SOLR_HOST: http://solr:8983/solr/
      KLASS_ENV_SEARCH_SOLR_URL: http://solr:8983/solr/
      KLASS_ENV_SEARCH_SOLR_CORE: Klass
  solr:
    build:
      context: ../klass-solr
      dockerfile: ../klass-solr/Dockerfile
    platform: linux/amd64
    profiles: [ solr-search ]
    ports:
      - "8983:8983"
    volumes:
      - solr_data:/var/solr
    mem_limit: 4g
  opensearch:
    image: opensearchproject/opensearch:3.0.0
    ports:
      - "9200:9200"
    environment:
      - discovery.type=single-node
      - discovery.seed_hosts='["127.0.0.1", "[::1]"]'
      - "DISABLE_SECURITY_PLUGIN=true"
      - "DISABLE_INSTALL_DEMO_CONFIG=true"
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms3g -Xmx3g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    deploy:
      resources:
        reservations:
          memory: 4g
    profiles: [ index, open-search ]
    volumes:
      - opensearch_data:/usr/share/opensearch/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9200/_cluster/health" ]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 90s
      start_interval: 5s
volumes:
  pgdata:
    name: klass_pgdata
  solr_data:
  opensearch_data:
