<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;klasstheme&quot;}">
 </head> 
 <body> 
  <vaadin-horizontal-layout spacing id="search-box" size-full> 
   <vaadin-text-field width="25em" _id="searchField"></vaadin-text-field> 
   <vaadin-button icon="fonticon://FontAwesome/f002" plain-text _id="searchButton" :expand>
     Søk 
   </vaadin-button> 
  </vaadin-horizontal-layout>  
 </body>
</html>