<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8" name="design-properties"
       content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;klasstheme&quot;}">
</head>
<body>
<vaadin-vertical-layout style-name="search-result-selectable search-result" id="layout">
 <vaadin-button primary-style-name="v-button-link" style-name="link search-result-title" plain-text="" _id="titleButton"
                :expand="">
  Navn på kodeliste eller standard
 </vaadin-button>
 <vaadin-label style-name="small search-result-description" _id="descriptionLabel">
  Beskrivelse av kodeliste eller standard.
  <br> Denne kan være på flere linjer om nødvendig.
 </vaadin-label>
 <vaadin-label style-name="small search-result-hierarchy" plain-text="" _id="hierarchyLabel" :expand="">
  Hirarkisk - Plasering - her
 </vaadin-label>
</vaadin-vertical-layout>
</body>
</html>