<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="design-properties"
          content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;klasstheme&quot;}">
</head>
<body>
<vaadin-vertical-layout size-auto="true">
    <vaadin-horizontal-layout spacing="true" :middle="">
        <vaadin-button plain-text="" _id="confirmButton">
            Lagre
        </vaadin-button>
        <vaadin-label style-name="bold" size-auto="true" plain-text="" :middle="" :center="">
            eller
        </vaadin-label>
        <vaadin-button primary-style-name="action-text-button" style-name="bold v-button-link" plain-text=""
                       _id="cancelButton" :middle="" :center="">
            avbryt
        </vaadin-button>
    </vaadin-horizontal-layout>
</vaadin-vertical-layout>
</body>
</html>