<!doctype html>
<html>
<head>
 <meta charset="UTF-8">
 <meta name="design-properties"
       content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;klasstheme&quot;}">
 <meta name="vaadin-version" content="7.7.0">
</head>
<body>
<vaadin-vertical-layout>
 <vaadin-horizontal-layout spacing>
  <vaadin-label style-name="bold no-margin h3" size-auto plain-text _id="typeTextfield">
   ClassificationType
  </vaadin-label>
  <vaadin-label style-name="label-gray h3 bold no-margin" size-auto plain-text _id="nameTextfield">
   ClassificationType
  </vaadin-label>
 </vaadin-horizontal-layout>
</vaadin-vertical-layout>
</body>
</html>